.pace {
    display: none;
}
*{
    user-select: none;

}
.main-style {
    min-height: 100vh;
    background: url(../img/cover/cover-scrum-board.png) no-repeat fixed;
    background-size: 360px;
    background-position: right bottom;
}


#modal-task{
    background-color: rgba(0, 0, 0, 0.558);
    height: 100%;
    display: flex;
    position: absolute;
    top: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: none;
}
.PopUpWindow{
    border-radius: 10px;
    max-width: 500px;
    height: fit-content;
    animation: PoppupAnimation .5s ease-in-out;
}

.align{
    display: flex;
    gap: 10px;
    width: min-content;
    align-self: end;
    margin-top: 20px;
}
.align button{
    padding-inline: 20px;
}
.align button:nth-child(1){
    color: rgb(0, 93, 160);
    background-color: rgb(255, 255, 255);
}
.cursor{
    user-select: none;
    cursor: pointer;
}
label{
    font-size: 1.1rem;
}
.div1{
    gap: 8px;
    margin: 10px;
}


.Trash{
    background-color: red;
    display: none;
}

#emptyMsg1 , #emptyMsg2 , #emptyMsg3{
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 100%;
    display: flex   ;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: rgb(173, 173, 173);
}

@keyframes PoppupAnimation {
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0px);
    }
}

#TrashButtonUnder{
    background-color: white;
    border: 1px solid red;
    display: flex;
    width:min-content;
    position: absolute;
    padding: 20px;
    border-radius: 50%;
    bottom: 0px;
    left: 0px;
    margin: 30px;
}
.TrashButtonUnder i{
    font-size: 100px ;
   margin: 0px !important;
}